.mobile{
  flex:1;
  background: #f6f6f6;
}

.mobile header{
  border-bottom: 1px solid #2db7f5;
  padding-left: 10px;
  cursor: pointer;
}

.mobile header img{
  height: 50px;
  padding-top: 5px;
}

.mobile header span{
  font-size: 30px;
  vertical-align: top;
  padding-left: 10px;
  color: #2db7f5;
}

.mobile header a i{
  font-size: 2rem;
  float: right;
  margin-right: 0.6rem;
  margin-top: 1.3rem;
  color: #2db7f5;

}
